.banner {
	text-align: center;
	color: white;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
	}

.header {
	padding: 10px
	}

.main {
	text-align: left;
	}

	/* html will inherit from .window in style.css first then we add these changes here */
.window p {
	padding-left: 10px;
}
.window h4 {
	padding-left: 10px;
}

.main-email {
	text-align: left;
	}

.aside-1 {
	/* Do not allow it to shrink to smaller than 300px, take a new line. */
	min-width: 300px;
	/* Should be no longer than 20% of screen */
	max-width: 20%;
	}

body {
	/* Let make a custom public domain cursor for the website. 
	We need to backtrack out of this directory "../" and into media to find the .cur file.
	In case of failure to load mouse use computer default.
	*/
	cursor: url("../media/Original black custom - normal select.cur"), default;
	/* Make the display change with the window size */
	display: flex;
	/* If it must be reshaped elongate it across y-axis */
	flex-direction: column;
	padding: 2em;
	/* Display background image*/
	background-image: url("../media/images/background.png");
}

/* Audio and media controls */
.soundboard-button {
	/* public domain cursor for the audio controls using select variant. 
	We need to backtrack out of this directory "../" and into media to find the .cur file.
	In case of failure to load mouse use computer default.
	*/
	cursor: url("../media/Original black custom - link select.cur"), default;
}

/* page structure */
@media all and (min-width: 600px) {
	.aside {
		flex: 1 0 0;
	}
}
@media all and (min-width: 800px) {
	.main {
		flex: 3 0px;
	}

	.aside-1 {
		order: 1;
	}

	.main {
		order: 2;
	}

	.banded-div {
		order: 4;
	}
}
@media all and (min-width: 800px) {
	.main-email {
		flex: 3;
	}

	.aside-email {
		flex: 1;
	}

	.main-email {
		order: 2;
	}

	.banded-div {
		order: 4;
	}
}

/* Taskbar nav CSS */
.footer-div {
	/* Flexable display for footer column and say clear of floating elements */
	content: "";
	display: flex;
	clear: both;
	
	/* Lets make it so that the bar is always displayed at bottom regardless of window size */
	position: fixed;
	/* bottom left in ensure so space to the bottom or left hand side */
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.footer-column-edge {
	/* size related to volume of column we want on screen and the clearence for contents before
	moving down a line
	This represents the outer 2 edges that will include the clock and start bar.
	*/
	width: 20%;
	padding: 10px;
	background-color: #C2C2C2;
	border: solid 4px;
	border-left-color: white;
	border-right-color: white;
	border-top-color: white;
}
.footer-column-center-space {
	/* size related to volume of column we want on screen and the clearence for contents before
	This represents the "application" icons for the central 8 columns.
	moving down a line */
	width: 7.5%;
	padding: 10px;
	background-color: #c0c0c0;
	text-align: center;
	border-top: 1px solid white;
}
.footer-button-in-use {
	/* size related to volume of column we want on screen and the clearence for contents before
	This represents the "application" icons for the central 8 columns.
	moving down a line */
	width: 95%;
	height: 55%;
	padding: 10px;
	background-color: #E4E6E7;
	/* For both text and images */
	display: flex;
	align-items: center;
	justify-content: center;
	/* gap between elements (image and text) */
	gap: 10px;
	/* make it look like a taskbar tab*/
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
.footer-button-unused {
	/* size related to volume of column we want on screen and the clearence for contents before
	This represents the "application" icons for the central 8 columns.
	moving down a line */
	width: 95%;
	height: 55%;
	padding: 10px;
	background-color: #E4E6E7;
	/* For both text and images */
	display: flex;
	align-items: center;
	justify-content: center;
	/* gap between elements (image and text) */
	gap: 10px;
	/* make it look like a taskbar tab*/
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
/* The descendant selector is in case "button-in-use" is used for a purpose other than the task bar*/
.footer-column-center-space .footer-button-in-use img {
	/* maintain consistant size */
	width: 100%;
	max-width: 30px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
/* The class overloading is in case "button-in-use" is used for a purpose other than the task bar*/
.footer-column-center-space .footer-button-unused img {
	/* maintain consistant size */
	width: 100%;
	max-width: 30px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

/* Javascript Element Design */
#clock {
	font-size: 15px;
	/* width set to 95% to avoid touching browser edge, using % as it is more scalable */
	width: 95%;
	padding: 5px;
	position: relative;
	text-align: center;
	/* Create the intended box look for windows 98*/
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

