.banner {
	text-align: center;
	color: white;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
	}

.header {
	padding: 10px
	}

.main {
	text-align: left;
	background: deepskyblue;
	}

.main-email {
	text-align: left;
	}

.aside-1 {
	min-width: 100px;
	max-width: 250px;
	flex: 1; /* Take up the space you need vertically to display text */
	}

body {
	/* Let make a custom public domain cursor for the website. 
	We need to backtrack out of this directory "../" and into media to find the .cur file.
	In case of failure to load mouse use computer default.
	*/
	cursor: url("../media/Original black custom - normal select.cur"), default;
	/* Make the display change with the window size */
	display: flex;
	/* If it must be reshaped elongate it across y-axis */
	flex-direction: column;
	padding: 2em;
}

/* Audio and media controls */
.soundboard-button {
	/* public domain cursor for the audio controls using select variant. 
	We need to backtrack out of this directory "../" and into media to find the .cur file.
	In case of failure to load mouse use computer default.
	*/
	cursor: url("../media/Original black custom - link select.cur"), default;
}

/* page structure */
@media all and (min-width: 600px) {
	.aside {
		flex: 1 0 0;
	}
}
@media all and (min-width: 800px) {
	.main {
		flex: 3 0PX;
	}

	.aside-1 {
		order: 1;
	}

	.main {
		order: 2;
	}

	.banded-div {
		order: 4;
	}
}
@media all and (min-width: 800px) {
	.main-email {
		flex: 3;
	}

	.aside-email {
		flex: 1;
	}

	.main-email {
		order: 2;
	}

	.banded-div {
		order: 4;
	}
}

/* Footer CSS */
.footer-div {
	/* Flexable display for footer column and say clear of floating elements */
	content: "";
	display: flex;
	clear: both;
	
	/* Lets make it so that the bar is always displayed at bottom regardless of window size */
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.footer-column {
	/* size related to volume of column we want on screen and the clearence for contents before
	moving down a line */
	width: 33.33%;
	padding: 10px;
}
footer {
	margin-top: auto;
}


